<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video | Verify if you are +18</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-['#040507']">
    <!--https://cdn1.vscdns.com/images/videos/camster-home-strip-video.mp4-->
    <div class="w-full h-screen  bg-no-repeat bg-cover bg-center  flex flex-row justify-items-center" style="background-image: url(./images/camster-strip-background-2.jpg)">
        <div class="hidden md:block lg:block md:w-1/3 lg:w-1/3  h-full  ml-3 md:ml-20 lg:ml-20 "  >
            <img src="./images/brunette-model.png" alt="brunete model" class="  md:h-fit " >
        </div>
        <div class=" w-full md:w-1/3 lg:w-1/3">
            <div class=" w-[350px] object-cover">
                <img src="./images/no-cover-sign-2.png" alt="strip cover" class="object-center">
            </div>
            <div class=" ml-3 w-[340px] md:w-104 lg:w-104 object-cover md:flex md:justify-center md:align-middle lg:flex lg:justify-center lg:align-middle ">
            <video src="https://cdn1.vscdns.com/images/videos/camster-home-strip-video.mp4"  playinline autoplay muted loop webkit-playsinline class="object-center w-[340px] md:w-104 lg:w-104 border-solid border-2 border-white  md:p-3 lg:p-3 "></video>
            </div>
        </div>
        <div class=" hidden md:block lg:block md:w-1/3 md:h-full md:mr-10  lg:w-1/3 lg:h-full lg:mr-10">
            <img src="./images/blonde-model.png" alt="blonde model" class=" h-fit">
        </div>
        

    </div>
    <div class="w-full h-[35rem] bg-black">
        <h4 class="text-white text-center pt-[32rem]  text-[10px] md:text-xs lg:text-xs font-['Open_Sans'] font-medium">18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement</h4>
        <h4 class="text-white text-center text-[10px] md:text-xs lg:text-xs font-['Open_Sans'] font-medium" >©1996 - 2021 VS Media, Inc. All Rights Reserved. Privacy Policy & Terms & Conditions.</h4>


    </div>
    <div id="verify" class="w-full h-screen absolute top-[5%] bg-[#000000] opacity-95 z-10 " >
        <div><i class="fa fa-times text-red-600 text-8xl relative left-[95%] top-[2rem]" aria-hidden="true"></i></div>
        <div class=" w-[340px] md:w-96 lg:w-96 bg-white opacity-30 shadow-2xl rounded-lg relative left-[3%] md:left-[38%] top-[8rem]"> 
            <div class=" pt-5 pl-5">
                <img src="images/xkylogo.PNG" alt="fblogo">
            </div>
            <h2 class="pt-5 pl-5">This content is for mature minds only</h2>
            <p class="p-5">One of our core goals is to help parents restrict access to contents not made  for minors, so we have ensured that we are, and remains, fully compliant with the RTA (Restricted to Adults) code. This means that all access to the site can be blocked by simple parental control tools. It is important that responsible parents and guardians take the necessary steps to prevent minors from accessing unsuitable content online, especially age-restricted content.</p>
            <p class="pl-5 font-bold text-center">To watch  you must be 18 or older</p>
            <button class="px-5 py-1 ml-3 md:ml-5 lg:ml-5 mb-5 w-[315px] md:w-[340px] lg:w-[340px] bg-[#28589c] mx-auto rounded-full text-white font-bold text-center"  ><a  class=" text-center pb-1"href="./xznjsnjd.html"> am 18 or older -> Watch</a></button>
        </div>
    </div>
</body>
</html>